.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


// Menu Toogle button

.menu-toggle {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
		position: fixed;
		bottom: 25px;
		right: 25px;
		z-index: 1030;
		padding: 0;
		&:focus {
			border: none;
			outline: none;
		}
}

.toggled .menu-toggle {
	background-color: $color__white;
	color: $color__blue;
}

.nav-menu {
	height: 100vh;
	width: 50vw;
	background-color: $color__blue;
	position: absolute;
	z-index: 1020;
	transition: all 1s ease;
}

.site-branding h1 {
	position: fixed;
}

// Menu slideIn


	ul.menu {
		margin: 50px 25px 0;
    padding: 0;
    list-style: none;
		li { margin-bottom: 25px;
			a {
				font-family: $font__headings;
		    color: white;
		    text-decoration: none;
		    font-size: 48px;
		    line-height: 1em;
				&:hover {
					}
				}
			}
		}


// Twitter Feed SlideIn Menu

.filo-twitter-box {
	position: absolute;
	bottom: 10px;
	padding: 20px;
	.filo-social--box-iconlist {
		margin: 0;
    padding: 0;
    list-style: none;
		li {
			display: inline-block;
			img {
				max-width: 50px;
				min-width: 50px;
			}
		}
	}
	.widget_rotatingtweets_widget {
		.rotatingtweet {
			.rtw_main {
				font-style: italic;
				font-size: 16px;
				a {
          text-decoration: none;
				}
			}
			.rtw_meta {
				display: none;
			}
		}

	}
}
