/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";



body, html {
  height: 100%;
  // color: white;
  //font-family: 'Source Sans Pro', 'sans-serif';
}

$z-index-high: 3;
$z-index-medium: 2;
$z-index-low: 1;

$padding-default: 15px;

$timing: 300ms;
$timing-function: cubic-bezier(.4,0,.2,1);

#side-nav {
  position: fixed;
  z-index: 4;
  bottom: 0;
  top: 0;
  padding: $padding-default;
  width: 50vw;
  background: #1be1d9;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all $timing;
  transition-timing-function: $timing-function;
  transform: translateX(100vw);

  &.visible {
    transform: translateX(50vw);
  }
}

#side-nav-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  opacity: .1;
  visibility: hidden;
  z-index: $z-index-medium;
  transition: all $timing $timing-function;
  transform: translateZ(0);

  &.visible {
    transition-delay: 0;
    visibility: visible;
    opacity: 1;
  }
}

/* #content {
  position: relative;
} */

// Bars

.bar-c {
  overflow: hidden;
  height: 30px;
  width: 40px;
  margin: 0 auto;
  position: relative;
  cursor:pointer;
  transform: rotate(-90deg);
}
.bar {
  height: 1px;
  width: 3px;
  display: inline-block;
  background-color: white;
  bottom: 0;
  position: absolute;

  &.noAnim {
    height: 30px;
    -webkit-animation: none;
    -webkit-animation-name: none;
    &:first-child {
      transform: rotate(45deg);
      margin-left: 12px;
    }
    &:last-child {
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      display: none;
      transition-timing-function: ease-out;
    }
  }

  &#bar-1 {
    left: 0;
    -webkit-animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
  }
  &#bar-2 {
    left: 6px;
    -webkit-animation-name: danceHeight2;
    -webkit-animation-delay: 300ms;
  }
  &#bar-3 {
    left: 12px;
    -webkit-animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
  }

  -webkit-animation-duration: 1200ms;
  -webkit-animation-play-state: running;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes danceHeight1 {
  from { height: 1px; }
  to { height: 22px; }
}
@-webkit-keyframes danceHeight2 {
  from { height: 1px; }
  to { height: 15px; }
}
@-webkit-keyframes danceHeight3 {
  from { height: 1px; }
  to { height: 30px; }
}
