@keyframes color-me-in {
  0% {
    background: orange;
  }
  25% {
    background: blue;
  }
  50% {
    background: black;
  }
  75% {
    background: purple;
  }
  100% {
    background: orange;
  }
}

/* Home Intro Navigation*/
.entry-content {
  animation-duration: 3s;
  animation-delay: .5s;
}
