@import "colors";
@import "typography";
@import "structure";
@import "columns";
@import "animations";

/* Branding */

.site-branding {
<<<<<<< HEAD

=======
>>>>>>> HEAD@{1}
 h1 {
   margin: 0;
   padding: 0;
    .custom-logo {
      min-width: 50px;

    }
    .logo-letters {
     color: $color__white;
     text-decoration: none;
     position: relative;
<<<<<<< HEAD
     font-size: 24px;
     top: -15px;
=======
     top: -15px;
     font-size: 24px;
>>>>>>> HEAD@{1}
     &:visited {
       color: $color__white;
      }
    }
  }
}

/* Images */
.image-responsive {
  width: 100%;
}
<<<<<<< HEAD
=======

/* Site Branding */

.site-branding h1 {

}
>>>>>>> HEAD@{1}
