@import "colors";
@import "typography";
@import "structure";
@import "columns";
@import "animations";

/* Branding */

.site-branding {
 h1 {
   margin: 0;
   padding: 0;
    .custom-logo {
      min-width: 50px;

    }
    .logo-letters {
     color: $color__chocolate;
     text-decoration: none;
     position: relative;
     top: -15px;
     font-size: 24px;
     &:visited {
       color: $color__chocolate;
      }
    }
  }
}

a {
  text-decoration: none;
}

/* Images */
.image-responsive {
  width: 100%;
}

/* Viewport Animations */

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

/* Scroll to Top */
span.fili-scrollUp {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}
