@import "colors";
@import "typography";
@import "structure";
@import "columns";
@import "animations";

/* Branding */

.site-branding {
  padding-top: 2.5vh;
 h1 {
   margin: 0;
   padding: 0;
    .custom-logo {
      min-width: 85px;

    }
    .logo-letters {
     color: $color__white;
     text-decoration: none;
     position: relative;
     top: -30px;
     &:visited {
       color: $color__white;
      }
    }
  }
}

/* Images */
.image-responsive {
  width: 100%;
}
