// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

@import "grid";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
  height: 15vh;
  text-align: center;
  padding: 25px 0;
}

/*--------------------------------------------------------------
## Page Homepage
--------------------------------------------------------------*/
@import "pages/homepage";
