// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Global Grid
--------------------------------------------------------------*/
.site {
  display: grid;
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-areas: "site-header" "site-content" "site-footer";
  justify-content: start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .site-header {
    grid-area: site-header;
    grid-column-start: 1;
  }
  .site-content {
    grid-area: site-content;
    grid-row-start: 2;
  }
  .site-footer {
     grid-area: site-footer;
     grid-row-start: 3;
     align-self: end;
  }
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 15vh;
  .site-branding {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .main-navigation {
    grid-row-start: 1;
    grid-column-start: 2;
  }

}

/*--------------------------------------------------------------
# Site Content
--------------------------------------------------------------*/
.site-content {
    display: grid;
    //justify-items: stretch;
    .content-area {
      grid-row-start: 1;
      min-height: 70vh;
    }
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
  height: 15vh;
  text-align: center;
  padding: 25px 0;
}

/*--------------------------------------------------------------
## Page Homepage
--------------------------------------------------------------*/
@import "pages/homepage";
