.page-home {
     background-image: url('assets/img/myhome.gif');
     background-size: cover;
     background-attachment: fixed;
    // background-blend-mode: multiply;
     transition: all 0.5s linear;
// Above the Fold
  .entry-content {
    padding: 100px 0 100px;
    .arrow {
    background-image: url(assets/img/arrow-down.svg);
    width: 25px;
    height: 25px;
    background-size: cover;
    opacity: 0.2;
    align-self: end;
    grid-column-start: 7;
    }
    &.mc-entry-content {
      .col-span-6:nth-child(1) {
        grid-column: col-start / span 7;
        grid-row-start: 1;
        grid-column-start: 2;
      }
      .col-span-6:nth-child(2) {
        grid-row-start: 1;
        grid-column: 7 / span 5;
      }
      h2 {
        text-indent: -5px;
        color: $color__chocolate;
      }
    }

  // What I Do
  &.wid-entry-content {
    .col-span-6:nth-child(1) {
        grid-column-start: 2;
        grid-row-start: 1;
        img {
          opacity: 0.2;
          width: 80%;
          min-width: initial;
        }
      }
    .col-span-6:nth-child(2) {
        grid-column: col-start / span 6;
        grid-column-start: 7;
        grid-row-start: 1;

      }

      ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        h2 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
  // My Work
&.mw-entry-content {
   .arrow {
      align-self: end;
    }
  .carousel {
    grid-column-start: 3;
    .filo-carousel--img {
      max-width: 50%;
      overflow: hidden;
      max-height: 69vh;
      min-height: 69vh;
    }
    .carousel-caption {
      max-width: 50%;
      text-align: left;
      left: 50%;
      right: 0;
      padding: 20px;
      top: 25%;
      h2, h3, p {
        margin: 0;
        padding: 0;
        color: $color__chocolate;
        text-shadow: none;
      }
      p {
        font-size: 16px;
      }
    }
    .filo-carousel--post-link {
      max-width: 50px;
      display: block;
      margin-top: 20px;
    }
    .filo-carousel--controls {
      text-align: right;
      margin-top: -50px;
      padding: 0 20px;
      .carousel-control {
        background-image: none;
        position: initial;
        max-width: 50px;
        display: inline-block;
        opacity: .9;
        &.left {
          margin-right: 50px;
        }
      }
    }
   }
   .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
 }



  // My blog
    &.mb-entry-content {
      .arrow {
        grid-column-start: 7;
      }
        grid-template-rows:300px 300px;
      .col-span-6 {
        &:nth-child(1) {
          grid-row-end: span 2;
          grid-column-start: 1;
          grid-row-start: 1;
          .mb-meta-data {
            padding-top: 33.5vh;
          }
        }
        &:nth-child(2) {
          grid-column-start: 7;
          grid-row-start: 1;
        }
        &:nth-child(3) {
          grid-column-start: 7;
          grid-row-start: 2;
          .hentry {
            background-image:none !important;
          }
        }
        .mb-meta-data {
          padding: 20px;
          h2 {
            margin: 0;
            padding: 0;
            @include fluid-type(48px, 36px);
          }
          span {
            display: block;
            width: 50px;
          }
        }
        .mb-container {
          margin: 0;
          height: 100%;
          background-size:cover;
        }
      }
    }
}
}
